* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1917;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px, 64px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  /*text-align: center;*/
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 15px;
}

.main {
  display: grid;
  grid-template-columns: 250px, 1fr;
  gap: 48px;
}

.container {
  max-width: 1500px;
  margin: 0, auto;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #292524;
  color: #fafaf9;
  margin-top: 16px;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  gap: 24px;
  letter-spacing: -1px;
}

.fact-form {
  background-color: #292524;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  list-style: none;
}

.hidden {
  display: none !important;
}

.header {
  margin-bottom: 40px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 16px;
}

.logo img {
  height: 68px;
  width: 68px;
}

.vote-buttons {
  margin-left: auto;
}

.source:link,
.source:visited {
  background-color: red;
}

.source:hover,
.source:active {
  background-color: #3b82f6;
}
